<div class="icon-list-container">
  <!-- Loop through each item in the iconList array -->
  <a class="d-flex align-items-center text-decoration-none" *ngFor="let item of iconList" (click)="callParent(item)">
    <!-- Display the icon with the name from the item -->
    <mat-icon role="img" [ngClass]="{'active-icon': activeIcon === item.Tag }" aria-hidden="false"
      class="mat-icon notranslate mat-badge icon-item"
      matBadge="{{ item.Badge == 0 ? null : (item.Badge > 99 ? '99+' : item.Badge) }}"

>{{item.IconName}}</mat-icon>
  </a>
</div>