<div class="position-fixed" style="width: 500px; z-index: 999; background-color: white; margin-bottom: 100px !important;">
    <h5 class="title p-3 px-3 pb-2">Notifications</h5>
    <div class="d-flex justify-content-between px-3" style="height: 10px;">
        <p class="m-0 fw-bold">Unread({{ unreadCount }})</p>
        <p [ngClass]="unreadCount == 0 ? 'hide' : 'p-button'" class="m-0 p-button" (click)="markAllRead()">Mark as all read</p>
    </div>
    <hr class="mb-0">
</div>

<div class="container p-3 pt-0 d-flex flex-column justify-content-between main-container"
    style="padding-top:100px !important; height: 40%; overflow-y: auto;" [ngClass]="notifications.length == 0 || allLoading ? 'make-center' : 'remove-center'">

    <div *ngIf="notifications.length > 0 && !allLoading" class="d-flex flex-column justify-content-lg-start gap-3">
        <div class="container-fluid" *ngFor="let notification of notifications">
            <div *ngIf="!allLoading" class="px-2" [ngClass]="notification.read ? null : 'unread'">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div>
                        <p *ngIf="!isLoading || clickedNotification!=notification.notificationId" class="m-0" style="cursor: pointer;" (click)="clickNotification(notification)">
                            {{clickedNotification == notification.notificationId ? notification.message : notification.message | truncate:52 }}
                        </p>
                        <p *ngIf="!isLoading || clickedNotification!=notification.notificationId" class="m-0 time">{{ notification.timeStamp.toString()| timeAgo | async }}</p>
            
                    </div>
                    <mat-icon (click)="deleteNotification(notification.notificationId)" class="delete-button" *ngIf="!isLoading && clickedNotification==notification.notificationId" style="cursor: pointer;" color="warn">close</mat-icon>
                </div>
                <div *ngIf="isLoading && clickedNotification==notification.notificationId" class="spinner-container d-flex flex-column">
                    <mat-spinner diameter="32"></mat-spinner>
                </div>
                <hr class="my-1">
            </div>
        </div>
    </div>

    <div #scrollAnchor class="scroll-anchor" style="height: 1px;"></div>
    <p *ngIf="!loading && notifications.length === 0" class="no-notifications-message">You're all caught up! No new
        notifications.</p>
    <p *ngIf="loading || allLoading" class="loading-message">Loading {{notifications.length == 0 || allLoading ? '': 'more'}} notifications...</p>

</div>

<div class="d-flex justify-content-end m-0 p-0"
    style="position: fixed; width: 500px; z-index: 999; background-color: white;">
    <p [ngClass]="notifications.length > 0 ? null : 'hide'" class="btn m-0 fw-bold p-button mb-2" (click)="clearAll()">
        Clear all
    </p>
</div>