.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

.sign-up-form {
  width: 100%;
}

.btn {
  border: none;
}

.form-container {
  padding: 0 60px;
  justify-content: center;
}

.form-field {
  border-radius: 6px;
  width: 100%;
  padding: 10px 0;
}

.signUp-button {
  padding: 10px 0;
}

.form-table {
  width: 100%;
}

td .input-data {
  width: 100%;
}

.first-td {
  width: 50%;
  padding-right: 20px;
}