<div class="icons">
    <div class="right-side">
        <app-nav-icon (buttonClick)="popUpNotification()" [iconList]="icons"></app-nav-icon>
    </div>
</div>
<div class="row" style="width: 100%; min-height: 64.7%;">
    <div class="side" style="max-width: 300px;">
        <app-slider [dataSource]="services" (priceFilteredDataSource)="updateFilteredServices($event)"></app-slider>
        <app-category [CategoryList]="categories"></app-category>
        <app-filter-rating></app-filter-rating>
    </div>
    <div class="main">
        <div class="d-flex flex-row justify-content-between sort-search-box">
            <app-sort #sort [dataSource]="services" (sortChange)="sortServices($event)"></app-sort>
            <app-search></app-search>
        </div>
        <div *ngIf="isLoading" class="spinner-container">
            <mat-spinner diameter="32"></mat-spinner>
        </div>      
        <div *ngIf="!isLoading">
            <app-item-card [service]="services"></app-item-card>
        </div>
    </div>
</div>