.event-name{
    font-size: 36px;
    font-family:Lato;
    margin-bottom: 12px;
    color: hwb(206 10% 41%);
}
.cover-img{
    height: 312px;
    width: 832px;
    
}
.section {
    display: inline-block;
    margin-right: 30px;
}
.date{
    display: inline-block;
    padding-inline: 10px;
}
.time{
    display: inline-block;
    padding-inline: 10px;
}
.location{
    display: inline-block;
    padding-inline: 10px;
}
.section{
    display: inline-block;
   padding-inline: 0px;
   
}
.discription{
    width: 832px;
}
.topic{
    font-size: 20px;
    font-family: Lato;
    color: rgb(49, 49, 49);

}
a:hover{
    opacity: 0.5;
    transition: .4s;
}


.buttons button{
    border: rgb(132, 132, 132) solid 1px;
    padding: 10px 50px; 
    margin-top: 20px;
    margin-right: 70px;
    font-size: 15px;

    

  }


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .cover-img {
        width: 100%;
    }
    .section {
        margin-right: 10px;
    }
    .discription{
        width: 100%;
    }
}
