.event-cover{
    width: fit-content;
}
.event-name{
    font-size: 30px;
    font-family:Lato;
    margin-bottom: 18px;
    font-size: 30px;

    color: rgb(17, 124, 136);
}
.cover-img{
    height: 312px;
    width: 832px;
    
}
.section {
    display: inline-block;
    margin-right: 30px;
}
.date{
    display: inline-block;
    padding-inline: 10px;
}
.time{
    display: inline-block;
    padding-inline: 10px;
}
.location{
    display: inline-block;
    padding-inline: 10px;
}
.section{
    display: inline-block;
   padding-inline: 0px;
   
}
.discription{
    width: 832px;
}
.topic{
    font-size: 20px;
    font-family: Lato;
    color: rgb(49, 49, 49);

}
a:hover{
    opacity: 0.5;
    transition: .4s;
}


.buttons button{
    border: rgb(132, 132, 132) solid 1px;
    padding: 10px 50px; 
    margin-top: 20px;
    margin-right: 70px;
    font-size: 15px;
    width: 250px;
  }

  .servicecards{
    margin-top: 50px;
  }
  .add a{
    color: rgb(28, 88, 100);
    text-decoration: none;
  }
  .add:hover{
    color: black;
  }

  






@media only screen and (min-width: 200px) and (max-width: 1024px) {
    .cover-img {
        object-fit: cover;
        width:95%;
        
    }
    .event-cover{
        width: fit-content;

    }
    .discription{
        width: 80%;
    }
    .buttons button{
        font-size: 13px;
        width: 200px;
    }

}
