
<div class="event-cover" >
    <p class="event-name">Music festival</p>
    <img src="../../../assets/Images/coverimg.png" class="cover-img"/>
    
    <div class="event-detail-panel">

        <div class="section">
            <a routerLink="#">  <img src="../../../assets/Images/calendar.png" class="date" height="19px" width="18px"/></a>
            <p class="date" >Date - 2024.04.23</p>
        </div>

        <div class="section">
           <a routerLink="#"> <img src="../../../assets/Images/time.png" class="time" height="24px" width="24px"/></a>
            <p class="time" >Time - 9.00 AM</p>
        </div>

        <div class="section">
            <a routerLink="#"><img src="../../../assets/Images/location.png" class="location" height="27px" width="24px"/></a>
            <p class="location" >Location - Colombo</p>
        </div>

        <div class="discription">
            <p class="topic">Discription</p>
            <p class="text">Dive deep into the pulsating heart of electronic euphoria at the Elysium Electro Fest 2024! Set against the mesmerizing backdrop of the Luminous Valley in Neon City, this three-day extravaganza promises to be a sonic journey like no other.</p>
        </div>
          
    </div>
    

    <section>
        <div class="buttons">
          <button mat-raised-button (click)="viewAgenda">View Agenda</button>
          <button mat-raised-button (click)="viewChecklist">View CheckList</button>
        </div>
      </section>

 
</div>