
<div class="event-cover" >
    <p class="event-name">{{EventName}}</p>
    <img src="../../../assets/Images/coverimg.png" class="cover-img"/>
    
    <div class="event-detail-panel">

        <div class="section">
            <a routerLink="#">  <img src="../../../assets/Images/calendar.png" class="date" height="19px" width="18px"/></a>
            <p class="date" >{{EventDate}}</p>
        </div>

        <div class="section">
           <a routerLink="#"> <img src="../../../assets/Images/time.png" class="time" height="24px" width="24px"/></a>
            <p class="time" >{{EventTime}}</p>
        </div>

        <div class="section">
            <a routerLink="#"><img src="../../../assets/Images/location.png" class="location" height="27px" width="24px"/></a>
            <p class="location" >{{EventLocation}}</p>
        </div>

        <div class="discription">
            <p class="topic">Discription</p>
            <p class="text">{{EventDescription}}</p>
        </div>
          
    </div>
    

    <section>
        <div class="buttons">
          <button mat-raised-button (click)="viewAgenda">View Agenda</button>
          <button mat-raised-button (click)="viewChecklist">View CheckList</button>
        </div>
      </section>

 
</div>


<div class="servicecards">

    <ng-container *ngIf="hasEventServiceCards(); else noCards">
        Your services ({{ cards.length }})
    </ng-container>
    <ng-template #noCards>
       There are no Services({{ cards.length }})
    </ng-template>
    <div class="Card">
    <app-event-service-res-card *ngFor="let card of cards"></app-event-service-res-card>
    </div>
    <div class="add">
        <p><a href="">Add more Services <b>  +</b></a></p>
    </div>
</div>
