<nav class="nav1">
    <img src="../../../assets/Images/logo.png" class="time" height="50px" width="216px"/>
    <ul>
        <li><a>Home</a></li>
        <li><a>Events</a></li>
        <li><a>Services</a></li>
        <li><a>Resources</a></li>
  
    </ul>
</nav>

<nav class="nav2">
    <ul>
      <li><a><i class="fas fa-envelope"></i></a></li>
      <li><a><i class="fas fa-bell"></i></a></li>
    </ul>
  </nav>
  

<div class="event-body">
    <div class="side-panel">
      <app-event-side-bar></app-event-side-bar>
    </div>
    <div class="event-components">
        <router-outlet></router-outlet>
    </div>
  </div>



<footer>
    <div class="footer-content">
      <p>&copy; 2024 EVENTIFY - XOCODE. All rights reserved.</p>
    </div>
  </footer>
  