.container {
    padding: 10px;
}


.slider {
    margin: 8px;
}

.value-label {
    padding-top: 10px;
    font-size: 14px;
}

.mat-mdc-slider {
    max-width: 300px;
    width: 100%;
}

.label-container {
    display: flex;
    justify-content: space-between;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
  }
  
  .radio-button {
    flex-basis: 100%; /* Set each radio button to take up 50% of the width */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  