<section>



  <div class="phr">
    <h2 style="align-items: center; font-size: medium;">Vendor comparison</h2>

    <h5 style="align-items: center; font-size: small; color:gray;">Add up to 3 resources to see how they compare. you can also use the compare buttons while browsing.</h5>
  </div>
  <form>
    <div  class="dropdown">
      <select name="dropdown" class="dropbtn" (change)="onSelectedValue($event)">
        <option value="" class="op"></option>
        <option value="green" class="op">AquaVista Cruises</option>
        <option value="red" class="op">SpinWave Adventures</option>
        <option value="blue" class="op">SwingSpiral</option>

      </select>

    </div>

    <div  class="dropdown">
      <select name="dropdown" class="dropbtn" (change)="onSelectedValue($event)">
        <option value="" class="op"></option>
        <option value="green" class="op">AquaVista Cruises</option>
        <option value="red" class="op">SpinWave Adventures</option>
        <option value="blue" class="op">SwingSpiral</option>

      </select>

    </div>

    <div  class="dropdown">
      <select name="dropdown" class="dropbtn" (change)="onSelectedValue($event)">
        <option value="" class="op"></option>
        <option value="green" class="op">AquaVista Cruises</option>
        <option value="red" class="op">SpinWave Adventures</option>
        <option value="blue" class="op">SwingSpiral</option>

      </select>

    </div>

    <div class="combtn">
      <button  routerLink="/show-comparison" style="
      margin: 10px;
      background-color: #1C5864;
      border-radius: 3px;
      width: 200px;
      height:40px ;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 15px;
      font-size: 16px;
      margin-top: 30px;
    padding-bottom: 30px;
    color: white;
      text-align: center;"><img width="15px" height="15px" src="assets\photos\compare_1.png">Compare</button>

    </div>




</form>


</section>
