<!-- Container for displaying service categories -->
<div class="container">
    <div *ngIf="categories && categories.length > 0">
        <h4 class="pb-3">All Service Categories</h4>
        <!-- Tab card component to display categories -->
        <app-tab-card #tabCard [card]="categories" (childEvent)="getServices($event)"></app-tab-card>
    </div>
</div>

<!-- Table for displaying services -->
<div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table"
        *ngIf="dataSource && dataSource.length > 0">
        <!-- Column definition for service number -->
        <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
        </ng-container>

        <!-- Column definition for service name -->
        <ng-container matColumnDef="Service">
            <th mat-header-cell *matHeaderCellDef>Service</th>
            <td mat-cell *matCellDef="let element"
                routerLink="/admin/services/service/{{element.soRId}}/{{element.service}}">
                {{element.service}}
            </td>
        </ng-container>

        <!-- Column definition for service rating -->
        <ng-container matColumnDef="Rating">
            <th mat-header-cell *matHeaderCellDef class="rating">Rating</th>
            <td mat-cell *matCellDef="let element" class="rating">
                {{element.rating}}&nbsp;
                <!-- Rating component -->
                <span style="color: #FDCC0D; font-size: medium;">
                    <ngb-rating [max]="5" [rate]="element.rating" [readonly]="true"></ngb-rating>
                </span>
            </td>
        </ng-container>

        <!-- Column definition for service action -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td class="action" mat-cell *matCellDef="let element">
                <!-- Suspend button with confirmation popover -->
                <div class="suspend" [ngClass]="{'sus':element.isSuspend}" mwlConfirmationPopover
                    Confirmation="Service Confirmation"
                    popoverMessage="Do you really want to {{element.isSuspend ? 'Resume': 'suspend'}}?" placement="left"
                    confirmButtonType="{{element.isSuspend ? 'primary' : 'danger'}}"
                    (confirm)="changeSuspendState(element.soRId)" (cancel)="true">
                    {{!element.isSuspend? 'Suspend' : 'Resume'}}</div>
                <!-- Delete button with confirmation popover -->
                <span style="margin-left: 5px;"></span>
                <div class="delete" mwlConfirmationPopover Confirmation="Service Delete Confirmation"
                    popoverMessage="Do you really want to delete?" placement="left"
                    (confirm)="deleteService(element.soRId)" (cancel)="true">
                    Delete
                </div>
            </td>
        </ng-container>

        <!-- Header row definition -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data row definition -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Message when no services are available -->
    <div *ngIf="dataSource.length == 0" class="empty my-5 w-100 d-flex flex-column" style="align-items: center;">
        <p>No available services found</p>
    </div>
</div>