<div class="nav">
<nav class="vertical-navbar">
  <ul class="nav-links">
    <li><a href="#"><img width="15px" height="15px" src="assets\photos\overview1.png">Overview</a></li>
    <li><a href="#"><img width="15px" height="15px" src="assets\photos\overview1.png">Features & Facilities</a></li>
    <li><a href="#"><img width="15px" height="15px" src="assets\photos\overview1.png">Images & Videos</a></li>
    <li><a href="#"><img width="15px" height="15px" src="assets\photos\overview1.png">Prices</a></li>
    <li><a href="#"><img width="15px" height="15px" src="assets\photos\overview1.png">Location</a></li>
    <li><a href=""><img width="15px" height="15px" src="assets\photos\overview1.png">User Ratings</a></li>
  </ul>
</nav>
</div>

