<div class="container">
    <h5>Category</h5>
    <ul>
        <li>
            <mat-checkbox color="primary" [(ngModel)]="firstCategory" (change)="firstCheckboxChange($event)">
                All
            </mat-checkbox>
        </li>
        <li *ngFor="let category of extendedCategory; let i = index">
            <mat-checkbox [(ngModel)]="category.checked" color="primary" value="{{category.id}}" (click)="selectCategory()"
                (change)="filterCategory()">
                {{ category.categoryName }}
            </mat-checkbox>
        </li>
    </ul>
</div>
