<div class="row" style="width: 100%; min-height: 64.7%;">
    <!-- Sidebar -->
    <div class="side" style="max-width: 280px;">
        <!-- Slider Component -->
        <app-slider (priceFilteredDataSource)="priceFilter($event)"></app-slider>

        <!-- Category Component -->
        <app-category (categoryFilterDataSource)="categoryFilter($event)"></app-category>

        <!-- Filter Rating Component -->
        <app-filter-rating (rateFilteredDataSource)="rateFilter($event)"></app-filter-rating>
    </div>

    <!-- Main Content -->
    <div class="main">
        <!-- Sort and Search Box -->
        <div class="d-flex flex-row justify-content-between sort-search-box">
            <!-- Sort Component -->
            <app-sort (sortChange)="sortServicesAndResources($event)"></app-sort>

            <!-- Search Component -->
            <app-search></app-search>
        </div>

        <!-- Display message when no services/resources available -->
        <div class="empty my-5 w-100 d-flex flex-column" style="align-items: center;">
            <p *ngIf="servicesAndResources.length == 0 && !isLoading">No available {{this.checkUrlString()}}s found</p>
            <div *ngIf="isLoading" class="spinner-container d-flex flex-column">
                <p>Please wait</p>
                <!-- Loading Spinner -->
                <mat-spinner diameter="32"></mat-spinner>
            </div>
        </div>

        <!-- Item Cards -->
        <div *ngIf="!isLoading">
            <app-item-card [dataSource]="servicesAndResources"></app-item-card>
        </div>

        <!-- Paginator -->
        <mat-paginator class="card mt-4" *ngIf="totalItems > pageSize && servicesAndResources.length !=0 && !isLoading" [length]="totalItems"
            [pageSize]="pageSize" [pageIndex]="currentPage" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>