<div class="header d-flex justify-content-between">
  <!-- Logo -->
  <img src="../../../../assets/common/Logo.png">

  <!-- Navigation Links -->
  <div class="d-flex justify-content-between gap-5">
    <!-- Iterating over navigation items and creating links -->
    <a class="nav-icon" *ngFor="let item of nav" routerLinkActive="active-link"
      [routerLink]="item.url">{{item.text}}</a>
  </div>

  <!-- Sign Up and Login Buttons (Shown when user is not logged in) -->
  <div class="d-flex justify-content-between gap-2" *ngIf="!isLogin">
    <app-secondary-button [button]="signUp"></app-secondary-button>
    <app-secondary-button [button]="login"></app-secondary-button>
  </div>

  <!-- User Image (Shown when user is logged in) -->
  <div class="d-flex justify-content-center" *ngIf="isLogin" [ngClass]="isToggled() ? 'active-image': ''">
    <a (click)="openProfileCard()" style="cursor: pointer;"><img class="user-image"
        src="{{userImage ? userImage: '../../../assets/default/user.png'}}" alt=""></a>
  </div>
</div>