<mat-card class="event-service-res-card" *ngFor="let item of dataSource">

  <mat-card-header>
    <img mat-card-sm-image [src]="item.image ? item.image :'../../../assets/Images/Djservice.jpg'">
    <mat-card-title-group>
      <mat-card-title>{{item.name}}</mat-card-title>

      <mat-card-subtitle>
        <span >({{item.overallRate}}) <ngb-rating style="color: #FDCC0D; font-size: medium;" [max]="5"
            [rate]="item.overallRate" [readonly]="true"></ngb-rating>
        </span>

      </mat-card-subtitle>

      <mat-card-content>
        <mat-card-title *ngIf="item.isApprove; else pendingSubtitle">
          <img src="../../../assets/Images/accepted.png" alt="Accepted">
        </mat-card-title>
        <ng-template #pendingSubtitle>
          <mat-card-subtitle class="pending">Pending...</mat-card-subtitle>
        </ng-template>
      </mat-card-content>

      <mat-card-subtitle>from {{item.companyName}} </mat-card-subtitle>

    </mat-card-title-group>
  </mat-card-header>


</mat-card>