<mat-card class="event-service-res-card">

    <mat-card-header>
        <img  mat-card-sm-image src="../../../assets/Images/Djservice.jpg" >
      <mat-card-title-group>
        <mat-card-title>Groove Sound</mat-card-title>

        <mat-card-subtitle>
          <ngx-stars  starCount="5"  color="#f0ad4e" value="3" [readonly]="true"></ngx-stars> 
        </mat-card-subtitle>

        <mat-card-content>
        <mat-card-title *ngIf="acceptVendor; else pendingSubtitle">
          <img src="../../../assets/Images/accepted.png" alt="Accepted" >
        </mat-card-title>
        <ng-template #pendingSubtitle>
          <mat-card-subtitle class="pending">Pending...</mat-card-subtitle>
        </ng-template>
      </mat-card-content>
      
        <mat-card-subtitle>from SonicMix Pro </mat-card-subtitle>

      </mat-card-title-group>
    </mat-card-header>
    

  </mat-card>
