<button mat-button
        [type]="button.type" 
        [disabled]="button.disable"
        [ngClass]="button.class"
        (click)="navigate()"
        class="primary-btn btn px-5" 
        style="color: white;">

    <ng-container *ngIf="!loading; else spinner">
        <mat-icon *ngIf="button.icon" [ngClass]="button.iconClass">{{button.icon}}</mat-icon>
        {{button.text}}
    </ng-container>

    <ng-template #spinner>
        <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
</button>
