* {
    box-sizing: border-box;
}
.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 112px;
}

.right-side {
    flex: 50%;
    align-items: center;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 112px;
    margin: 0;
    flex-grow: 1;

}

.side {

    flex: 20%;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.main {
    flex: 70%;
    background-color: white;

}

.sort-search-box {
    align-content: center;
    padding: 20px 10px 0 ;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }

    .header {
        height: auto;
    }

    .icons,
    .row {
        padding: 0 20px;
    }
}


@media screen and (max-width: 450px) {

    body {
        margin: auto;
    }

}