.nav1{
    background-color: rgb(175, 223, 233);
    width: 100%;
    height: 75px;
    max-height: 87px;
    padding-top: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    
}
.nav1 li{
    color: rgb(18, 64, 109);
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 450; 
}
nav img{
    margin-left: 90px;
    margin-bottom: 10px;
    margin-right: 45px;
}
.nav2{
    background-color: rgb(255, 255, 255);
    height: 50px;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;

}
.nav2 li{
    color: rgb(122, 122, 122);
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 450; 
}
footer {
    background-color: #004857;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
  
.event-body {
    padding: 20px;
    display: flex;
    justify-content: center;

}
  
.side-panel {
    margin-left: 20px;
}
  
.event-components{
    flex: 2;
    margin-top: -30px; 
  }
  
  