<nav>
    <img src="../../../assets/Images/logo.png" class="time" height="50px" width="216px"/>
    <ul>
        <li><a>Home</a></li>
        <li><a>Events</a></li>
        <li><a>Services</a></li>
        <li><a>Resources</a></li>
  
    </ul>
</nav>

<div class="event-body">
    <div class="side-panel">
      <h1>side panal</h1>
    </div>
    <div class="event-form">
      <app-event-create-form></app-event-create-form>
    </div>
  </div>

<footer>
    <div class="footer-content">
      <p>&copy; 2024 EVENTIFY - XOCODE. All rights reserved.</p>
    </div>
  </footer>
  