<div class="container-fluid d-flex justify-content-start gap-3 flex-wrap">
    <!-- Loop through each review item -->
    <div class="card w-100 p-3 card-wrapper" *ngFor="let re of review">
        <!-- Review content -->
        <div class="d-flex align-items-center gap-3">
            <!-- User avatar -->
            <img class="rounded-circle avatar" [src]="re.avatar || '../../../assets/default/user.png'" [alt]="re.name">
            <!-- Review details -->
            <div class="d-flex flex-column gap-0">
                <!-- User's full name -->
                <p class="m-0 fw-medium">{{re.fname}} {{re.lname}}</p>
                <!-- User's rating -->
                <p class="m-0 mx-1" value="5">{{ parseRate(re.rate) | number: '1.1-1'}} <span style="color: #FDCC0D; font-size: medium;"> <ngb-rating [max]="5"
                            [rate]="re.rate" [readonly]="true"></ngb-rating>
                    </span>
                </p>
                <!-- Review comment -->
                <p class="m-0 mx-1">{{re.comment}}</p>
            </div>
        </div>
    </div>
</div>
