<div class="event-cover" *ngIf="selectedEvent">
    <p class="event-name">{{ selectedEvent.eventName }}</p>
    <div><mat-divider></mat-divider></div><br/><br/>

   <img src="../../../assets/Images/EventCover.png" class="cover-img"/>
    
    <div class="event-detail-panel">
        <div class="section">
            <a routerLink="#"><img src="../../../assets/Images/calendar.png" class="count" height="27px" width="28px"/></a>
            <p class="text" >{{ selectedEvent.eventDate }}</p>
        </div>
        <div class="section">
            <a routerLink="#"><img src="../../../assets/Images/Time.png" class="count" height="27px" width="28px"/></a>
            <p class="text" > {{ selectedEvent.startTime }}</p>
        </div>
        <div class="section">
            <a routerLink="#"><img src="../../../assets/Images/Location.png" class="count" height="30px" width="20px"/></a>
            <p class="text" > {{ selectedEvent.location }}</p>
        </div>
        <div class="section">
            <a routerLink="#"><img src="../../../assets/Images/users.jpg" class="count" height="30px" width="30px"/></a>
            <p class="text" >{{ selectedEvent.guestCount }}</p>
        </div>
  
        <div class="discription">
            <p class="topic">Description</p>
            <p class="des-text">{{ selectedEvent.description }}</p>
        </div>
          
    </div>
    

    <section>
        <div class="buttons">
            <button class="btn btn-primary mt-4" (click)="viewAgenda"><i class="fas fa-list"></i>  Agenda</button>
            <button class="btn btn-primary mt-4" (click)="viewChecklist"><i class="fas fa-tasks"></i>  View Checklist</button>
          </div>
          
      </section>

      <div class="mat-line"><mat-divider></mat-divider></div>


      <div class="servicecards">



        <ng-container *ngIf="hasEventServiceCards(); else noCards">
            Your services ({{ Scards.length }})
        </ng-container>
        <ng-template #noCards>
           There are no Services({{ Scards.length }})
        </ng-template>
        <div class="Card">
        <app-event-service-res-card></app-event-service-res-card>
        </div>
        <div class="add">
            <a mat-button routerLink="/Eventcreate">Add more Services <b>  +</b></a>
        </div>
    </div>
    
    <div class="mat-line"><mat-divider></mat-divider></div>
    
    <div class="resourcecards">
        
    
        <ng-container *ngIf="hasEventResourceCards(); else noCards">
            Your Resources ({{ Rcards.length }})
        </ng-container>
        <ng-template #noCards>
           There are no Resources({{ Rcards.length }})
        </ng-template>
        <div class="Card">
            <app-event-service-res-card></app-event-service-res-card>
        </div>
        <div class="add">
            <a mat-button routerLink="/Eventcreate">Add more Resources <b>  +</b></a>
        </div>
    </div>


    <div class="mat-line"><mat-divider></mat-divider></div>
    <div class="del-up-button">
    <button class="btn btn-danger mt-4" (click)="setDelete(selectedEvent.id)"> <i class="fas fa-trash-alt"></i>  Delete "{{selectedEvent.eventName}}"</button>
    <button class="btn btn-primary mt-4"> <i class="fas fa-edit update-icon"></i> Update "{{selectedEvent.eventName}}"</button>
    </div>
</div>







