<div class="container">
    <!-- Container for the search input field -->
    <mat-form-field class="search-input-container" appearance="outline">
        <!-- Material form field with outline appearance -->
        <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="searchChange()" matInput placeholder="Search by district">
        <!-- Text input field with Material input styling and a placeholder -->
        <mat-icon style="cursor: pointer;" matSuffix>search</mat-icon>
        <!-- Material icon displayed as a suffix, indicating a search action -->
    </mat-form-field>
</div>
