.left {
  flex: 50%;
}

.right {
  flex: 50%;
}


/* Styles for the footer section */
.footer {
  position: relative;
  margin-top: auto;
}

/* Host styles for the component */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure at least full viewport height */
}