<div class="container">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="ToDoForm" >
          <div>
  
            <div class="col-md-5 mb-2">
              <input formControlName="date" 
              name="date" 
              type="date" 
              class="form-control event-head" 
              id="date" 
              placeholder="Date" />  
            </div>
            <div *ngIf="ToDoForm.get('date')?.invalid && ToDoForm.get('date')?.touched" class="text-danger head-required">
              Date is required.
            </div>
  
            <div class="col-5 mb-2">
              <input formControlName="title" 
              name="title" 
              type="text" 
              class="form-control event-head" 
              id="title" placeholder="Title" />
            </div>  
            <div *ngIf="ToDoForm.get('title')?.invalid && ToDoForm.get('title')?.touched" class="text-danger head-required">
              Title is required.
            </div>
          </div>
  
          <div class="task">
          <div formArrayName="descriptions" >
            <div *ngFor="let descriptions of listOfTaskGroup.controls; let i = index;">
              <div [formGroupName]="i">
                <div class="description col-10 mb-2">
                 
                  <div class="flex-grow-1 ms-2">
                    <input name="descriptionText" 
                    type="text" 
                    class="form-control event-description" 
                    formControlName="descriptionText" 
                    placeholder="Description" />
                  </div>
                  <div class="ms-3" *ngIf="i > 0">
                    <svg (click)="removeTaskGroup(i)" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
                      />
                    </svg>
                  </div>
                </div>
  
                <div formArrayName="checkListTasks">
                  <div *ngFor="let checkListTasks of getTaskControls(i).controls; let j = index; trackBy: trackByFn">
                    <div [formGroupName]="j">
                      <div class="description col-10 mb-2">
                        <div>
                          <input *ngIf="includeTaskTime" name="tasktime" 
                          type="time" 
                          class="form-control task-time" 
                          placeholder="Time" 
                          formControlName="taskTime">
                        </div>
                        <div class="ms-3">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <input
                            name="taskName"
                            type="text"
                            class="form-control event-task"
                            placeholder=""
                            formControlName="taskName"
                           
                          />
                        </div>
                        <div class="ms-3" *ngIf="j > 0">
                          <svg (click)="removeTask(i, j)" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path
                              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
                            />
                          </svg>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="">
                    <button mat-button type="button" class="add-btn"  (click)="addTask(i)">add task</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
       <button mat-button type="button" class="add-btn" (click)="generateTaskGroup()">add description</button>
       
        </form>
      </div>
      </div> 
      <div class="button-container">
              <button mat-button type="submit" class="form-btn" (click)="onSubmit()">Create</button>
              <button mat-button type="button" class="form-btn" (click)="ToDoForm.reset()">Reset</button>
        </div>
      
  
  
  
  
  
  
  
  
  
       
  
  
       