
<div class="formArea">
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <p class="topic">Create Event</p>

  <div class="fields">
    
    <mat-form-field>
        <mat-label>Event Name</mat-label>
        <input matInput formControlName="eventName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="eventDate" formControlName="eventDate" (dateChange)="onDateInput($event)" >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

       <div class="timepicker">
        <mat-form-field>
          <input matInput [ngxTimepicker]="timepicker1" placeholder="Start Time"  formControlName="startTime">
          <ngx-material-timepicker #timepicker1></ngx-material-timepicker>
          </mat-form-field> 
          <mat-form-field>
          <input matInput [ngxTimepicker]="timepicker2" placeholder="End Time" formControlName="endTime">
          <ngx-material-timepicker #timepicker2></ngx-material-timepicker>
          </mat-form-field> 
       </div>

      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput  formControlName="location">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Guest Count</mat-label>
        <input matInput type="number" min="0" formControlName="guestCount" formControlName="guestCount">
      </mat-form-field> 

      <div class="image-upload">
        <label for="imageInput"> Upload Thumbnail: &nbsp;</label>
        <input type="file" id="imageInput" (change)="onImageSelected($event)" accept="image/*">
        <img *ngIf="form.controls['image'].value" [src]="form.controls['image'].value" alt="Selected Image">
        <button mat-raised-button *ngIf="form.controls['image'].value" type="button" (click)="onDeleteImage()">Remove</button>
      </div>


      <div class="createButton">
        <button mat-raised-button type="submit">Create</button>
      </div>




      
</div>

</form>
<div *ngIf="successMessageVisible" class="success-message">
  Successfully created event!
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

</div>




  
