
.topic{
    font-size: 30px;
    font-family: Lato;
    color: rgb(17, 124, 136);
}
.fields{
    width: 100%;
    max-width: 600px;
    
    display:grid;
}


.timepicker{

    display: flex;
    gap: 16px;
    width: 100%;

}
.createButton button{
    margin-top: 30px;
    background-color:rgb(5, 102, 102);
    width: 200px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.createButton button:hover{
    background-color: rgb(5, 80, 80);
    transition: .4s;
}

.success-message {
    color: rgb(20, 136, 136);
    font-weight: bold;
    margin-top: 10px;

  }
  .error-message{
    color: rgb(240, 14, 14);
    font-weight: bold;
    margin-top: 10px;

  }

  .image-upload{
    margin-top: 10px;
  }
  .image-upload img {
    max-width: 100%;
    margin-top: 10px;
  }


  @media screen and (min-width: 200px) and (max-width: 600px) {

    .fields{
      width: 100%;
      max-width: 300px;
      display:grid;
  }
    .timepicker{
      display:grid;
    }

  }