<div class="d-flex flex-colum">
    <div class="left">
        <app-login-cover></app-login-cover>
    </div>
    <div class="right">
        <div class="form-container d-flex flex-column">
            <form class="reset-form p-5 mx-5" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <h1 class="py-2">Reset Password</h1>
                <table class="form-table">
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input matInput class="input-data" required formControlName="password"
                                    placeholder="Add New Password" [type]="isText ? 'text' : 'password'">
                                <mat-icon *ngIf="isText" matSuffix (click)="hideShowPass()">visibility</mat-icon>
                                <mat-icon *ngIf="!isText" matSuffix (click)="hideShowPass()">visibility_off</mat-icon>
                                <mat-hint
                                    *ngIf="resetPasswordForm.controls['password'].invalid && resetPasswordForm.controls['password'].touched">
                                    <span *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
                                        class="small text-danger">New password can not be left blank!</span>
                                    <span class="small text-danger"
                                        *ngIf="resetPasswordForm.get('password')?.errors?.['passwordStrength']">New password must
                                        be at least 8 characters long and include at least one uppercase letter, one
                                        lowercase letter, one number, and one special character.
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput class="input-data" required formControlName="confirmPassword"
                                    placeholder="Add Confirm Password" [type]="isText ? 'text' : 'password'">
                                <mat-icon *ngIf="isText && resetPasswordForm.controls['password'].valid" matSuffix
                                    (click)="hideShowPass()">visibility</mat-icon>
                                <mat-icon *ngIf="!isText && resetPasswordForm.controls['password'].valid" matSuffix
                                    (click)="hideShowPass()">visibility_off</mat-icon>
                                <mat-hint
                                    *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched">
                                    <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']" class="small text-danger">Confirm password can not be left blank! </span>
                                    <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="small text-danger">
                                        Confirm password must match the password.
                                      </span>
                                </mat-hint>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="reset-button">
                            <app-primary-button [button]="restPasswordButton"></app-primary-button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>