// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$eventify-frontend-primary: mat.define-palette(mat.$indigo-palette);
$eventify-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$eventify-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$eventify-frontend-theme: mat.define-light-theme((color: (primary: $eventify-frontend-primary,
        accent: $eventify-frontend-accent,
        warn: $eventify-frontend-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($eventify-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato";
}

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translateX(100px);
//   }
//   to {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// @keyframes fadeOut {
//   from {
//     opacity: 1;
//     transform: translateY(0);
//   }
//   to {
//     opacity: 0;
//     transform: translateY(20px);
//   }
// }

// .snackbar-animate-enter {
//   animation: fadeIn 2s ease-in-out forwards;
// }

// .snackbar-animate-exit {
//   animation: fadeOut 0.3s ease-in-out forwards;
// }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.error.mat-mdc-snack-bar-container .mdc-snackbar__label {
  background-color: #f8d7da; /* Light red */
  border-radius: 6px;
}

.success.mat-mdc-snack-bar-container .mdc-snackbar__label {
  background-color: #d4edda; /* Light green */
  border-radius: 6px;
}

.info.mat-mdc-snack-bar-container .mdc-snackbar__label {
  background-color: #d9edf7; /* Light blue */
  border-radius: 6px;
}

.warning.mat-mdc-snack-bar-container .mdc-snackbar__label {
  background-color: #fff3cd; /* Light yellow */
  border-radius: 6px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    margin-bottom: 50px;
    margin-right: 20px;
    border-radius: 7px !important;
}


