<div class="container d-flex flex-row align-items-center gap-3" style="width: 400px;">
    <!-- Sort icon and label -->
    <div class="d-flex flex-row gap-3 w-50">
        <mat-icon>sort</mat-icon>
        <p>Sort By:</p>
    </div>
    
    <!-- Dropdown for selecting sorting option -->
    <mat-form-field class="w-100">
        <mat-select [(ngModel)]="selectedSort">
            <!-- Iterate over sorting options -->
            <mat-option *ngFor="let item of sortBy" [value]="item.value" (click)="sortService(selectedSort)">
                {{ item.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
