.serviceImage {
    border-radius: 6px;
    width: 330px; /* Set the desired width */
    height: 230px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
}

.image-container {

}

.card {
    height: 250px;
}